
* {
      margin: 0;
      padding: 0;
      list-style: none;
}

.container{
      padding: 5px 10px 20px;
}

.checkboxes{
      display: inline-block;
      width: 40%;
      padding: 10px;
}

.niceCheck {
      width: 17px;
      height: 17px;
      display: inline-block;
      cursor: pointer;
      background: url(../img/checkbox.png);
      overflow: hidden;
      margin-left: 10px;
}
.niceChecked {
      background-position: 0 -17px;
}
.niceCheck input {
      margin-left: -100px;
}
.niceCheckDisabled {
      background-image: url(../img/checkbox-disabled.png);
}

.cssCheck {
      position: absolute;
      clip: rect(0, 0, 0, 0);
}
.cssCheck__label {
      cursor: pointer;
}
.cssCheck__label:after {
      content: " ";
      display: inline-block;
      width: 17px;
      height: 17px;
      background: url(../img/checkbox.png);
      position: relative;
      top: 3px;
      margin-left: 15px;
}
.cssCheck:checked + label:after {
background-position: 0 -17px;
}

.topmenu{
      margin: 10px 0 50px 20%;
      background-color: #fff;
      display: block;
}

a:focus {
      outline: none;
}
.topmenu>ul, .menu_item{
      margin: 0;  
      padding: 0; 
      display: inline;
      margin-right:2px;
}
.menu_item {
      float: left;
      position:relative;      
      width:150px;
      background-color: #fff;
}
.menu_item a{
      display: block;
      padding:10px 10px 10px 30px;
      
      margin:1px 0px;
      color: #0000FF;
      text-decoration: none;  
      border:1px solid #999;
}
.menu_item a:HOVER{
      color: #0000CC;
}

.submenu {
    display: none;
    position:absolute;
    top:42px;
    z-index: 2;
}

.submenu_item {
    display:block;    
    border-top:0px;
    width: 150px;
    position: relative;
    background-color: #fff;
}
.active {
    /*background-color:#eee;*/
}

.submenu_item ul {
    display: none;
    position:absolute;
    top:0px;
    left:151px;
    width: 150px;
}